/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.3;
  color: #202f55;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

ul {
  list-style-type: none;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  color: #fff;
  background-color: #000;
  margin-bottom: 10px;
  padding: 8px 10px 10px;
}

code {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
  &.comment {
    color: #999;
  }
}

a {
  text-decoration: none;
  color: #666;
}

table {
  border-collapse: collapse;
}

.white {
  color: #fff;
}

.flex {
  display: flex;
  &.responsive,
  &.row {
    flex-direction: row;
    & + .flex.responsive,
    & + .flex.row {
      margin-top: 10px;
    }
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  & > [class*='grid-'] {
    margin: 0 5px 0 0;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  & > .grid-50 {
    width: 50%;
  }
}

.btn {
  display: inline-block;
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.8rem;
  white-space: nowrap;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 100;
}

.navigation {
  font-size: 1.8rem;
  & > li {
    &:first-of-type > a {
      border-left: none;
    }
    & > a {
      display: inline-block;
      padding: 0 15px;
      border-left: 1px solid #ccc;
      &:hover,
      &:active {
        color: #ccc;
      }
    }
  }
}

.open-menu {
  display: none;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 26px;
  height: 26px;
  padding: 2px 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 1.6rem;
}

.languages {
  margin-top: 3rem;
  & > ul {
    font-size: 1.8rem;
    & > li {
      &:first-of-type > a {
        border-left: 1px solid #999;
      }
      & > a {
        width: 11rem;
        display: inline-block;
        border-right: 1px solid #999;
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.column {
  margin: 20px;
  &.center {
    text-align: center;
  }
}

.title {
  margin: 0;
  font-size: 8vw;
}

.sub-title {
  margin: 0 0 2.4rem -0.5rem;
  font-size: 2vw;
}

.description {
  margin-left: -0.2rem;
  font-size: 2vw;
  &.step1 {
    margin-top: 4vh;
  }
}

.docs-container {
  max-width: 1280px;
  margin: auto;
}

.docs-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 200px;
  min-height: 100vh;
  margin-top: 60px;
  z-index: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  & > ul {
    margin-top: 15px;
    & > li {
      padding: 10px 20px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.docs-menu-title {
  margin: 20px 0 0;
  font-size: 2.8rem;
  text-align: center;
}

.docs-languages {
  padding: 2.5rem 0;
  text-align: center;
  & > ul {
    font-size: 1.6rem;
    & > li {
      &:first-of-type > a {
        border-left: none;
      }
      & > a {
        width: 8rem;
        display: inline-block;
        border-left: 1px solid #999;
      }
    }
  }
}

.docs {
  margin-left: 200px;
  padding-bottom: 50px;
  & > .page {
    padding: 20px;
    justify-content: flex-start;
    & > .column {
      min-width: 100%;
      padding: 20px;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}

.page-anchor {
  display: block;
  height: 20px;
}

.docs-title {
  margin: 0 0 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.docs-sub-title {
  margin: 0 0 1rem;
  font-size: 2.0rem;
}

.docs-paragraph {
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  & > .docs-paragraph {
    margin-top: 40px;
  }
  &.options-wrap {
    overflow-x: auto;
  }
}

.note {
  margin-top: 10px;
  font-size: 1.6rem;
}

.options {
  width: 100%;
  font-size: 1.4rem;
  & th,
  & td {
    padding: 5px 20px;
    white-space: nowrap;
  }
  & th {
    color: #fff;
    background-color: #999;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.1rem;
  }
  & td {
    &.options-description {
      white-space: normal;
    }
  }
  & tr:nth-child(even) > td {
    background-color: #eee;
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  & > .copyright {
    &::before {
      content: '//';
      margin: 0 1rem;
    }
  }
}

.try {
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid #202f55;
  border-bottom: 1px solid #202f55;
  &.step1 {
    width: 4vw;
    height: 4vw;
    transform: rotate(45deg);
    animation: down 1.5s infinite;
  }
  &.step2 {
    position: fixed;
    right: 120px;
    bottom: 30px;
    width: 2vw;
    height: 2vw;
    transform: rotate(-45deg);
    animation: right 1.5s infinite;
  }
}

.flex.examples {
  justify-content: flex-start;
  & > .sample-btn {
    width: 50px;
    & > .ue-scroll {
      display: inline-block;
      position: static;
      cursor: default;
    }
  }
  & > .sample {
    width: 100%;
    margin-left: 20px;
    text-align: left;
  }
}

@keyframes down {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(20px, 20px);
    opacity: 0;
  }
}

@keyframes right {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(20px, 20px);
    opacity: 0;
  }
}

@keyframes open {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    top: -400px;
  }
}

@media screen and (orientation: portrait) {
  pre {
    white-space: pre;
  }
  .flex {
    &.responsive {
      flex-direction: column;
      & > [class*='grid-'] {
        width: 100%;
        margin: 5px 0 0;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
  .btn {
    font-size: 1.4rem;
  }
  .top {
    justify-content: center;
  }
  .open-menu {
    display: block;
  }
  .title {
    font-size: 16vw;
  }
  .sub-title {
    font-size: 4vw;
  }
  .description {
    font-size: 4vw;
  }
  .docs-menu {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: auto;
    margin-top: 40px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.95);
    &.hidden {
      display: none;
    }
    &.opened {
      animation: open 0.5s;
    }
    &.closed {
      animation: close 1.5s;
      animation-fill-mode: forwards;
    }
    & > ul {
      width: 100%;
      & > li {
        text-align: center;
      }
    }
  }
  .docs-languages {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .docs {
    margin-left: 0;
    padding-bottom: 80px;
    & > .page {
      max-width: 100%;
      min-height: auto;
      padding: 20px 0 0;
      &:first-of-type {
        margin-top: 20px;
      }
      & > .column {
        max-width: 100%;
        border-radius: 0;
      }
    }
  }
  .options {
    & td {
      &.options-description {
        white-space: nowrap;
      }
    }
  }
  .footer {
    font-size: 1.2rem;
    & > .license,
    & > .copyright {
      margin-right: 10px;
    }
    & > .copyright {
      &::before {
        content: '';
        margin: 0;
      }
    }
  }
  .try {
    &.step1 {
      width: 8vw;
      height: 8vw;
    }
    &.step2 {
      bottom: 35px;
      width: 4vw;
      height: 4vw;
    }
  }
  .flex.examples {
    & > .sample-btn {
      & > .ue-scroll {
        margin-bottom: 10px;
      }
    }
    & > .sample {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 1361px) {
  .title {
    font-size: 6vw;
  }
  .sub-title {
    font-size: 1.5vw;
  }
  .description {
    font-size: 1.5vw;
  }
  .try {
    &.step1 {
      width: 3vw;
      height: 3vw;
    }
    &.step2 {
      width: 1.5vw;
      height: 1.5vw;
    }
  }
}

@media screen and (max-width: 1280px) {
  .docs-menu {
    border-top-left-radius: 0;
  }
}
