head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Lightweight JavaScript library for scroll up")
  title ue-scroll.js | Lightweight JavaScript library for scroll up
  link(rel="icon" href="favicon/favicon.ico")
  link(rel="icon" href="favicon/favicon-192x192.png" sizes="192x192" type="image/png")
  link(rel="apple-touch-icon" href="favicon/apple-touch-icon-152x152.png" sizes="152x152")
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:200,300,400|Source+Code+Pro")
  link(rel="stylesheet" href="//unpkg.com/ue-scroll-js@latest/dist/ue-scroll.min.css")
  link(rel="stylesheet" href="css/style.min.css")
  script(defer="defer" src="//use.fontawesome.com/releases/v5.0.8/js/all.js")
  script(src="//unpkg.com/ue-scroll-js")
